In [2]:
import os
Allfilenames=[]
nonMentionUsers = []
for file in os.listdir("Twint_Data/ParallelProcessing/UserData/ALL"):
    if file.endswith(".csv"):
        Allfilenames.append(file[:-15])

In [3]:
len(Allfilenames)

5001

In [4]:
Allfilenames[:10]

['devinedeme',
 'Strack_C',
 'ProtestSPb',
 '___XPOM___',
 'Mit_Bit',
 'viradio',
 'kronk64',
 'GRGRV_SSH',
 'lidijalaskova',
 'An_Vlasova_']

In [5]:
import tweepy
from time import sleep

consumer_key = 'kMPfqOqXWP1BO9uJJtwLJT7Iy'
consumer_secret = 'MkvtA3ZN55OwQ80ZFWgUGJ0gTqKbVv4bk3Z2npz7QLXk2V4osX'
access_token = '1208955205032632328-Xa3ZI96nAeYfUU5SV9xjY6RT8qWGFA'
access_token_secret = 'jYo2BNrkmle2NiXSdGo2fZvroZJTVGzimaBClNCSYSNLI'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

In [6]:
userIDs = []
for i in range(0,5000,100):
    usernames = Allfilenames[i:i+100]
    user_objects = api.lookup_users(screen_names=usernames)
    user_ids = [user.id_str for user in user_objects]
    userIDs += user_ids

In [7]:
len(userIDs)

4836

In [9]:
usernames = [Allfilenames[5000]]
user_objects = api.lookup_users(screen_names=usernames)
user_objects = api.lookup_users(screen_names=usernames)
user_ids = [user.id_str for user in user_objects]
userIDs += user_ids

In [10]:
len(userIDs)

4837

In [12]:
len(list(set(userIDs))) #sanity check.

4837

In [17]:
import pandas as pd

Twitter_userIDs = pd.DataFrame()
Twitter_userIDs['Requested_UserIDs'] = userIDs

In [18]:
Twitter_userIDs

     Requested_UserIDs
0             30557085
1           1252186177
2            471500954
3           2200769386
4           2291924210
...                ...
4832        2849983629
4833        2782362278
4834          23307701
4835         859462639
4836          70145776

[4837 rows x 1 columns]

In [19]:
Twitter_userIDs.to_csv('Twint_Data/ParallelProcessing/UserData/Requested_UserIDs.csv')